aiocontextvars==0.2.2
asgiref==3.4.1
async-exit-stack==1.0.1
async-generator==1.10
attrs==21.2.0
autopep8==1.5.7
certifi==2021.5.30
charset-normalizer==2.0.3
click==8.0.1
contextvars==2.4
coverage==5.5
dataclasses==0.6
fastapi==0.66.0
greenlet==1.1.0
h11==0.12.0
idna==3.2
immutables==0.15
importlib-metadata==4.6.1
iniconfig==1.1.1
packaging==21.0
pluggy==0.13.1
psycopg2-binary==2.9.6
py==1.10.0
pycodestyle==2.7.0
pydantic==1.8.2
PyJWT==2.7.0
pyparsing==2.4.7
pytest==6.2.4
pytest-cov==2.12.1
requests==2.26.0
SQLAlchemy==1.4.21
starlette==0.14.2
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.6
uvicorn==0.14.0
zipp==3.5.0
